@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');



:root{
    --primary-color:white;
    --secondary-color:black;
}


body{
    font-family: 'Montserrat', sans-serif;
    margin:0;
}


img{
    height: 200px;
    width: 300px;
    display:block;
    margin:auto;
    border-radius:25%;
    box-shadow:10px 5px 5px gray;
}


#shakespeare{
    
    
        margin-top:0;
        text-align:center;
        color:var(--primary-color);
        background-color:var(--secondary-color);
        padding:2.5rem 0;
   
}
       

textarea{

    width:50%;
    height:20vh;
    display:block;
    position:relative;
    left:25rem;
    margin-top:6.25rem;
    padding:1rem;
    border:1px solid var(--secondary-color);
}


textarea:hover{
    border: 1px solid #2243b6;
}

#output{
    border: 1px solid black;
    height: 10vh;
    width: 50%;
    margin-left:25rem;
    padding:1rem;
    border:1px solid black;
    margin-bottom: 15rem;

}

#output:hover{
border: 1px solid #2243b6;
}


#btn-translate{
    background-color: var(--secondary-color);
    color:var(--primary-color);
    padding:1rem;
   margin-top:2rem;
   margin-left:25rem;
   text-align:center;
   font-weight: 700;
   border-radius:0.5rem;
   border: 1px solid var(--secondary-color);

}

#btn-translate:hover{
    color:var(--secondary-color);
    background-color:var(--primary-color);
    cursor:pointer;
}

#output-text{
    margin-top:2rem;
    position:relative;
    left:25rem;
    color:var(--secondary-color);
    font-weight: 700;

}

.footer{
    text-align:center;
    padding: 50px 100px;
    color:white;
    background-color: black;
    font-weight: 700;
}